{% extends 'base.jinja2' %}

{% block body %}
<form id="search">
	<input type="text" name="q" autocomplete="off">
	<div id="results"></div>
</form>

<main class="artifacts"></main>

<script src="/static/artifacts.js"></script>
{% endblock body %}
