<!DOCTYPE html>
<html>
	<head>
		<title>mini healer tools</title>
		<link rel="stylesheet" href="/static/style.css">
		<link rel="icon" href="/static/favicon.png">
	</head>
	<body>
		{% if not no_back_button %}
			<a href="/" class="back">←</a>
		{% endif %}

		{% block body %}{% endblock body %}

		<footer>
			<a href="https://github.com/raylu/mini_healer_tools">github.com/raylu/mini_healer_tools</a>
		</footer>
	</body>
</html>
