{% extends 'base.jinja2' %}

{% block body %}
<header class="build"></header>
<main class="build">
	<div class="tree"></div>
	<div class="info"></div>
</main>

<script src="/static/build.js"></script>
{% endblock body %}
