{% extends 'base.jinja2' %}

{% block body %}
<header></header>
<main class="talents">
	<div class="tree"></div>
	<div class="info"></div>
</main>

<script src="/static/talents.js"></script>
{% endblock body %}
