* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px monospace;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

a.back {
	display: inline-block;
	font-size: 36px;
	margin-left: 20px;
}

input {
	background-color: #111;
	color: inherit;
	border: 1px solid #222;
	font: inherit;
}

form#search {
	margin: 25px auto;
	width: 250px;
	position: relative; /* for div#results */
}
form#search input {
	width: 100%;
}
form#search div#results {
	display: none;
	position: absolute;
	max-height: 300px;
	overflow-y: scroll;
	width: 250px;
	padding: 6px 10px;
	background-color: #222;
	border: 1px solid #111;
	z-index: 1;
}
form#search div#results.visible {
	display: block;
}
form#search div#results div.result {
	cursor: pointer;
}
form#search div#results div.result.uncommon {
	color: #5e9d50;
}
form#search div#results div.result.rare {
	color: #788eb8;
}
form#search div#results div.result.epic {
	color: #b272c2;
}
form#search div#results div.result.unique {
	color: #9e7c2e;
}
form#search div#results div.result:hover {
	background-color: #333;
}

main, header {
	width: 90%;
	max-width: 1200px;
	margin: 10px auto;
	background-color: #111;
}
main {
	padding: 25px 10px;
}
main section {
	margin: 15px 10px;
	padding: 5px;
	border: 1px solid #222;
	width: 400px;
}

main.root {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

main.artifacts, div#pending_item, div#selected_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
main section.artifact {
	position: relative; /* for div.icons and div.delete */
}
main section.artifact div.icon {
	margin: 0 auto 0.25em;
	width: 64px;
	height: 64px;
	background-size: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #352f2a;
	border-radius: 16px;
}
main section.artifact h2 {
	margin: 0 0 0.5em;
	text-align: center;
}
main section.artifact h2.uncommon {
	color: #5e9d50;
}
main section.artifact h2.rare {
	color: #788eb8;
}
main section.artifact h2.epic {
	color: #b272c2;
}
main section.artifact h2.unique {
	color: #9e7c2e;
}
main section.artifact div.icon > img {
	width: 64px;
	height: 64px;
}
main section.artifact div.icon > img.uncommon {
	filter: hue-rotate(-190deg) saturate(2) brightness(0.8);
}
main section.artifact div.icon > img.rare {
	filter: hue-rotate(-69deg) saturate(2) brightness(0.8);
}
main section.artifact div.icon > img.epic {
	filter: hue-rotate(-14deg) saturate(3) brightness(0.8);
}
main section.artifact div.icon > img.unique {
	filter: hue-rotate(75deg) saturate(2) brightness(0.8);
}
main section.artifact div.type {
	margin-bottom: 1em;
	text-align: center;
	color: #777;
}
main section.artifact div.desc {
	margin-bottom: 1em;
}
main section.artifact div.desc span.healpower {
	color: #d660af; /* HealpowerAttributeColor */
}
main section.artifact div.desc span.physical {
	color: #bcbcbc; /* PhysicalElementColorHex */
}
main section.artifact div.desc span.fire {
	color: #d55; /* FireElementColorHex is ff3333 */
}
main section.artifact div.desc span.ice {
	color: #6983ff; /* IceElementColorHex */
}
main section.artifact div.desc span.lightning {
	color: #efd73c; /* LightningElementColorHex */
}
main section.artifact div.desc span.nemesis {
	color: #c5c; /* NemesisElementColorHex is ce31c3 */
}
main section.artifact div.desc span.link {
	color: #0aa;
}
main section.artifact div.props {
	color: #777;
}
main section.artifact div.icons {
	position: absolute;
	width: 32px;
	left: -10px;
	top: 64px;
}
main section.artifact div.icons img {
	border: 1px solid #b98;
	background-color: #222;
	border-radius: 2px;
}

header.build {
	display: flex;
	justify-content: space-evenly;
}
header.build h2 {
	color: #79a;
	cursor: pointer;
}

main.build {
	display: flex;
	justify-content: space-evenly;
}

main.build div.tree {
	display: grid;
	grid-template-rows: repeat(10, 100px);
	grid-template-columns: repeat(5, 76px);
	width: 370px;
}
main.build div.tree .talent {
	height: 90px;
	width: 66px;
	border: 1px solid #755;
	line-height: 1;
	text-align: center;
	cursor: pointer;
}
main.build div.tree .talent.allocated {
	background-color: #975;
	color: #ddd;
}
main.build div.tree .talent.allocated.maxed {
	background-color: #495;
}
main.build div.tree .talent.allocated.unreachable {
	background-color: #a33;
}
main.build div.tree .talent img {
	width: 64px;
	height: 64px;
}

main.build div.info {
	width: 400px;
}
main.build div.info div.desc {
	margin-bottom: 1em;
}

main.build div.items div#selected_items section.artifact div.delete {
    position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

main.build form#search input {
	background-color: #070707;
	border-color: #333;
}

main.build div.items div#pending_item section.artifact {
	cursor: pointer;
	transition: background-color 0.2s;
}
main.build div.items div#pending_item section.artifact:hover {
	background-color: #222;
}

form#build {
	margin: 25px auto;
	width: 300px;
	text-align: center;
}
form#build input {
	margin-right: 30px;
}

footer {
	margin-top: 100px;
	text-align: center;
	font-family: monospace;
	font-size: 14px;
}
