* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Mini Healer';
	src: url('/static/fonts/indienovaBC-Regular-12px.ttf');
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px 'Mini Healer';
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

form#search {
	margin: 25px auto;
	width: 250px;
}
form#search input {
	background-color: #111;
	color: inherit;
	border: 1px solid #222;
	width: 100%;
}
form#search div#results {
	position: absolute;
	top: 50px;
	max-height: 300px;
	overflow-y: scroll;
	width: 250px;
	background-color: #222;
	border: 1px solid #111;
	cursor: pointer;
}

main, header {
	width: 90%;
	max-width: 1200px;
	margin: 10px auto 100px;
	padding: 25px 10px;
	background-color: #111;
}

main section {
	margin: 15px 10px;
	padding: 5px;
	border: 1px solid #222;
	width: 400px;
}
main section h2 {
	margin: 0 0 1em;
}

main.root {
	display: flex;
	justify-content: space-evenly;
}

main.artifacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
main.artifacts section div.type {
	color: #777;
	margin-bottom: 1em;
}
main.artifacts section div.desc {
	margin-bottom: 1em;
}
main.artifacts section div.props {
	color: #777;
}

header.build {
	display: flex;
	justify-content: space-evenly;
}
header.build h2 {
	color: #79a;
	cursor: pointer;
}

main.build {
	display: flex;
	justify-content: space-evenly;
}

main.build div.tree {
	display: grid;
	grid-template-rows: repeat(10, 90px);
	grid-template-columns: repeat(5, 76px);
	width: 370px;
}
main.build div.tree .talent {
	height: 80px;
	width: 66px;
	border: 1px solid #755;
	cursor: pointer;
}
main.build div.tree .talent img {
	width: 64px;
	height: 64px;
}

main.build div.info {
	width: 400px;
}
main.build div.info div.desc {
	margin-bottom: 1em;
}


footer {
	text-align: center;
	font-family: monospace;
	font-size: 14px;
}
